@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<nav class="header navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">   
    <div class="container header-container ml-0">
        <button type="button" id="burger-button-catalog" class="mr-3">
            <span class="burger-span"></span>
        </button>
        <div id="header-burger-menu">
            <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            </ul>
        </div>
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
        <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link btn navigation-page-bar menu-item" asp-area="" asp-controller="Redactor" asp-action="Index">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn navigation-page-bar menu-item" asp-area="" asp-controller="Generator" asp-action="Index">Редактор</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="d-flex">
                    <div id="navigation-name" class="align-self-center pr-2"></div>
                    @{
                        var button = "undefined";
#if MOCK
                                    button = "mock";
#elif RELEASE
                                    button = "release";
#else
                        button = "debug";
#endif
                    }
                    <button id="navigation-enter-button" class="btn btn-outline-primary my-2 my-sm-0 mx-1" type="button">@button</button>
                </div>
            </form>

        </div>
    </div>
</nav>